@charset "UTF-8";

/* -------------------
  404
--------------------*/

.section-404{
    padding-top: 50px;
    height: 100vh;
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        color: #f5dbd4;
    }
}

/* ==========================================================
	404error-page
========================================================== */

/* ------------------------------------------------ header */
.error-header {
	width: 100%;
	height: 50px;
	position: relative;
	overflow: hidden;
	background-color: #d2bea5; 
}

.head{
  font-family: "futura-pt",sans-serif;
  width: 100%;
  font-weight: 100;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.3rem;
  text-indent: 0.5rem;
  color: #fff;
  margin: 0;
}

.error-section{
  color: $color_main;
  text-align: center;
  margin-top: 100px;
  .head{
    color: $color_main;
    font-size: 75px;
    font-weight: bold;
    line-height: inherit;
  }
  .txt-1{
    opacity: .5;
    font-size: 28px;
  }
  .txt-2{
    opacity: .5;
    font-size: 16px;
    padding: 0 15px;
  }

  @include mq(smt){
    .txt-1 { font-size: 25px;}
  }
}



