@charset "UTF-8";

/* -------------------
  COMMON
--------------------*/
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 50px;
	background-color: $color_main;
	box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.1);
}
.header-content {
	max-width: 1040px;
	padding: 0 20px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.ci-wrap {
	display: flex;
	align-items: center;
	
	&__mark {
		width: 20px;
		height: 20px;
		margin-right: 15px;
		display: block;
	}
	
	&__logo {
		@include logo-font();
		color: $color_white;
		font-weight: 500;
		@include mq(sm2){
			display: none;
		}
	}

}
.header-content__menu {
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
    align-items: center;
}
.header-content__item {
	position: relative;
	margin: 0 15px;
	&:last-child{margin-right: 0;}
	@include mq(smt){
		margin: 0 10px;
		&:last-child{margin-left: 15px; margin-right: 0;}
	}
	font-size: 1.2rem;
	font-weight: 500;
	color: $color_white;
	a {
		display: block;
		color: $color_white;
		font-size: 1.2rem;
		font-weight: 500;
		&:hover {
				opacity: 1;
				width: 100%;
		}
	}

	img{
		width: 20px;
		height: 20px;
	}

	.tel{
		font-size: 20px;
	}

	.watch{
		margin-top: -6px;
		display: flex;
		img{width: 10px; margin-right: 5px;}
	}
}
	



// Button Open Menu SP
.sp-navBtn {
	
	z-index: 9999;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: relative;

	&.active {
	  span {
		&:nth-of-type(1) { transform: translate3d(-12px, 4px, 0) rotate(45deg); }
		&:nth-of-type(2) { transform: translate3d(-12px, -6px, 0) rotate(-45deg); }
	  }
	}
	span {
	  display: block;
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  width: 20px;
	  height: 2px;
	  background-color: #fff;
	  transition: all .3s;
  
	  &:first-child {
		top: calc(50% - 5px);
	  }
  
	  &:nth-child(2) {
		top: calc(50% + 5px);
	  }
	}
  }
  


.header-menu{
	  
	background-color: $color-main;
	opacity: .95;
	width: 100%;
	position: fixed;
	z-index: 500;
	transition: transform .3s;
	margin-top: 50px;
	padding-bottom: 45px;
	height: calc(100% - 50px);
	overflow-y: scroll;
	transform: translateY(-100vh);

	&.active{
		transform: translateY(0);
	}
	

	&__content{
		max-width: 800px;
		margin: auto;
		padding: 0;


		&--search{
			margin: 25px 0 10px;
			position: relative;

			input{
				width: 100%;
				border-width: 0;
				border-radius: 10px;
				box-shadow: none;
				padding: 7px 20px 7px 45px;
				font-size: 14px;
				background-color: rgba(255,255,255,0.2);
				color: white;
				&:focus{
					outline: none;
				}
				&::placeholder{
					color: rgba($color: #fff, $alpha: .5);
				}
			}
			img{
				position: absolute;
				top: 10px;
				left: 15px;
			}

			@include mq(smt){
				margin-left: 20px;
				margin-right: 20px;
			}
		}


		&--item{
			border-bottom: 1px solid rgba($color: #fff, $alpha: .3);
			font-size: 14px;
			font-weight: 500;
			
			a{
				color: white;
				display: block;
				padding: 5px 20px 5px 40px;
			}

			&.none{
				padding: 5px 20px 5px 40px;
			}
			
			&.main-item a{
				padding-left: 20px;
			}
	
			&:not(.none):hover{
				background-color: #d84319;
				transition: all .3s;
			}
		}
	}
}




.sub-nav__menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    @include mq(){
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        background-color: #CEC1A8;
        padding: 10px 20px;
        z-index: 1;
        transition: transform .3s;
        transform: translateY(-300px);
        &.active{
            transform: translateY(0);
        }
    }
	a.active{color: $color_black;}
}