@charset "UTF-8";


/* ==========================================================
	bridal-page
========================================================== */

/* header */
.cure1-header.bridal {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	background-image: url(../images/cure1-header4.png);
	background-position: center;
	background-size: cover;
}
.cure1-header.bridal .cure1-header-caption {
	color: #333;
}

/* outline */
.bridal .cure1-outline-section {
	max-width: 1000px;
	padding: 100px 20px 20px;
}
.bridal .cure1-outline-section h2.head {
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.5rem;
	text-indent: 0.5rem;	
	margin-bottom: 50px;
	line-height: 150%;	
}
.bridal .cure1-outline-section p.intro {
	margin: 0 auto;
	letter-spacing: 0.2rem;
	
	line-height: 200%;
	text-align: center;	
}
.bridal .cure1-outline-section p.intro2 {
	margin: 40px auto 0;
	letter-spacing: 0.2rem;
	
	line-height: 200%;
	text-align: justify;
}
.bridal .cure1-outline-section p.intro2 span {
	color: #ff0000;
}
.cure1-bridal-section {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 0 100px;
}
.cure1-bridal-section h2.head {
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.5rem;
	margin: 50px 0 10px;
	line-height: 150%;		
}
.cure1-bridal-section h2.head br {
	display: none;
}
.cure1-bridal-section h3.head {
	text-align: left;
	font-weight: 500;
	margin: 50px 0 30px;
	padding-bottom: 20px;
	line-height: 150%;
	border-bottom: 1px solid #d2bea5;
}
.cure1-bridal-section h3.head span {
	text-align: left;
	
	padding-bottom: 10px;
	line-height: 150%;
	font-size: 1.6rem;
}
.cure1-bridal-section .subhead {
	
	margin: 0 0 20px;
}
.cure1-bridal-section .plan {
	
	background-color: rgba(210,190,165,0.5);
	padding: 10px;
	color: #333;
	margin: 0 0 50px;
}
.cure1-bridal-section .plan span {
	font-weight: 500;
	float: right;
	color: #ff0000;
}
.cure1-bridal-section .plan span span {
	font-weight: 400;
	font-size: 1.2rem;
	float: right;
	margin-top: 5px;
}
.cure1-bridal-section .comment {
	text-align: justify;
	line-height: 200%;
	
}
.cure1-bridal-section .comment span {
	color: #ff0000;
	font-weight: 500;
	font-size: 1.8rem;
}
.cure1-bridal-section .comment a {
	color: #08c;
	font-size: 1.4rem;
}
