@charset "UTF-8";
// =========================================
// EOM COMMOON
// =========================================

.eom-nav{
    &__container{
        max-width: 1040px;
        padding: 0 20px;
        margin: auto;
        display: flex;
        align-items: center;
        height: 100%;
    }
    a{
        &:hover{
            transition: all .3s;
            opacity: .8;
        }
    }
    &__first{
        height: 70px;
        color: $color_black;
        background-color: white;
        font-size: 1.8rem;
        a{color: $color_black;}
        z-index: 10;
        position: relative;
    }
    &__second{
        height: 50px;
        background-color: #CEC1A8;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;
        a{color: white;}
        .eom-nav__container{
            justify-content: center;
            @include mq(){
                justify-content: end;
            }
        }
        @include mq(){
            font-size: 1.5rem;
        }
    }
    @include mq(smt){
        &__first{
            height: 50px;
            font-size: 1.5rem;
        }
    }
    @include mq(sm3){
        &__first{
            font-size: vw2(15);
        }
    }
}


.eom-heading{
    background-color: white;
    position: relative;
    &__caption{
        margin: 100px 0 110px 0;
        padding: 0 20px;
        color: $color_black; 
        text-align: center;
        span{
            display: block;
            &.jp{font-size: 3rem;}
            &.en{font-size: 2.5rem;}
        }
    }
    @include mq(smt){
        &__caption{
            margin: 50px 0 70px 0;
        }
        span{
            &.jp{font-size: vw2(23);}
            &.en{
                margin-top: 10px;
                font-size: vw2(15);
            }
        }
    }
}

// =========================================
// EOM TOP
// =========================================


.eom-content{

    &__mainvisual{
        height: 500px;
        background-image: url('../images/eom/eom_smile.png');
        background-position: 50% 50%;
        position: relative;
        
        &--caption{
            padding: 0 20px;
            font-size: 1.8rem;
            color: $color_black;
            max-width: 810px;
            width: 100%;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 2;
        }
    }

    &__body{
        padding: 100px 20px;
        max-width: 1140px;
        margin: auto;
        font-weight: 500;
        color: $color_black;
        .text1{
            max-width: 900px;
            margin:0 auto 100px;
        }
        .text2{
            max-width: 900px;
            margin:100px auto 0;
        }
    }


    &__menu{
        max-width: 1000px;
        padding: 0 20px;
        margin: 100px auto;
        .home-section__menu-ul{
            justify-content: space-between;
        }
    }

    @include mq(smt){
        &__body{
            padding: 50px 20px;
            .text1{margin-bottom: 50px;}
            .text2{margin-top: 50px;}
        }
        &__menu{
            margin: 50px auto;
        }
    }
    @include mq(sm3){
        &__mainvisual--caption{
            font-size: vw2(18);
        }
    }
}