@charset "UTF-8";
// ===========================
// base
// ===========================
@import "base/reset";
@import "base/variables";
@import "base/mixin";
@import "base/common";
@import "base/font-design";
@import "base/visually-hidden";

// ===========================
// libs
// ===========================
// @import "libs/remodal";
// @import "libs/remodal-default-theme";
// @import "libs/custom-remodal";
@import "libs/slick";
@import "libs/custom-slick";
@import "libs/animate-min";


// ===========================
// animation
// ===========================

@import "animations/*";
@import "animations/delay";


// ===========================
// components
// ===========================
@import "components/parts";
@import "components/header";
@import "components/footer";
@import "components/404";


// ===========================
// pages
// ===========================
@import "pages/top/*";
@import "pages/about/*";
@import "pages/eom/*";


// ===========================
// setting
// ===========================
@import "setting/*"
